/rect
/rect_new
/.idea
/bins/*
/boundary/*
/configs/*
/interpolation/*
/interpolation_configs/*
/contact/*
/contact_configs/*
/result/*

!/configs/template2D.conf
!/configs/template3D.conf
!/interpolation_configs/template2D.cfg
!/interpolation_configs/template3D.cfg
!/contact_configs/template3D.cfg